@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");


.main-bg-container {
    background-image: url('https://assets.ccbp.in/frontend/dynamic-webapps/time-converter-bg.png');
    height: 100vh;
    background-size: cover;
}

.heading {
    color: #ffffff;
    font-weight: bold;
    font-size: 49px;
}

.description {
    color: #ffffff;
    font-weight: 500;
    font-size: 25px;
}

.label {
    color: #ffffff;
    font-weight: bolder;
    font-size: 20px;
}

.input {
    height: 40px;
}

.convert-button {
    padding: 17px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
}

.error-msg {
    color: #ffffff;
    font-size: 20px;
}

.time-in-seconds {
    color: #ffffff;
    font-size: 40px;
    font-weight: 500;
    border: solid;
    padding: 17px;
    text-align: center;
    border-radius: 20px;
}